<%= simple_form_for(@listing) do |f| %>

<div class="form-inputs">
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :breed %>
<%= f.input :price %>
<%= f.input :photo, as: :file%>
</div>

<div class="form-actions">
<%= f.button :sumbit %>
</div>
<% end %>



<%# this is the form to enter a new dog listing with a photo %>
