<h1>Animal Listings</h1>

<%= @listings.each do |listing| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= listing.name %></h5>
      <h6 class="card-title">£<%= listing.price %></h6>
      <h6 class="card-title"><%= listing.breed %></h6>
      <div class="btn btn-primary">
        <%= link_to "More Information", listing_path(listing)%>
      </div>
    </div>
  </div>
<% end %>



<%# url(<%= listing.photo.attached? ? cl_image_path(listing.photo.key) : asset_path('listing_background.jpg') %>)"> %>

<%# <% @listing.photos.each do |photo| %>
  <%# <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %> %>
  <%# <% end %>
