<h1>Dogs Available to Rent:</h1>

<section class="grid">
<% @listings.each do |listing| %>
  <div class="card" style="width: 18rem;">
    <% if listing.photo.key %>

    <%= cl_image_tag listing.photo.key%>
    <% else %>
    <img src="https://media.istockphoto.com/id/1180989037/vector/cartoon-cute-beagle-puppy-vector-character-mascot.jpg?s=612x612&w=0&k=20&c=MLy9ynEYeJNQVUWk4SdESllseqmv0E1zSTeVtrFRRzQ=" alt="card image cap" class="class-img-top">
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= listing.name %></h5>
      <h6 class="card-title">£<%= listing.price %></h6>
      <h6 class="card-title"><%= listing.breed %></h6>
      <button type="button" class="btn btn-info"> <%= link_to "More Information", listing_path(listing) %>
</button>

      </div>
    </div>
  </div>
<% end %>
</section>>
