<h1>Make a new listing</h1>
<p>Fill in the form below to submit your dog for rental</p>


<div class="container">
  <div class="row">
    <div class="col-12">
      <%= simple_form_for(@listing) do |f| %>
        <%= f.input :name, placeholder: 'Add your dog name' %>
        <%= f.input :breed, placeholder: 'Add your dog breed' %>
        <%= f.input :description, placeholder: 'Add a description of your dog' %>
        <%= f.input :price, placeholder: 'Add the price of your dog to rent' %>
        <%= f.input :photo, as: :file%>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
