<div class="h-100" style="background-color: #faeeed;">
  <section>
    <h1 class="pt-4" style='margin-top: 0px;'>Book a Pet!</h1>
    <p style="padding-left: 20px; text-align: left;">Fill in the form below to rent your dog of choice</p>
  </section>

  <section id="showbottom">
    <div class="imageanddescription">

      <div id="left">
        <div id="im">
          <%= cl_image_tag @listing.photo.key %>
        </div>
      </div>

      <div id="right" class="px-3">
        <div id="description" class="mb-5">
          <%= "I am a feisty little dog. I bark at dogs three times my size even though they could crush me. My favorite thing to do is have cuddles by a warm fire. I am terrified of cats, and if I see one while walking, I will probably run away. I’m a BIG fan of hot dogs. No, that's not cannibalism" %>
        </div>

        <div id="form">
          <%= simple_form_for [@listing, @rental] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit "Confirm my booking", class: "btn btn-primary btn-lg" %>
          <%# <%= link_to "Confirm my Booking", rental_path(rental) %>
          <%# http://localhost:3000/confirmation_page %>
          <% end %>
        </div>

        <div id="linkback" class="mt-3">
          <%= link_to listings_path do %>
            <i class="fa-solid fa-arrow-rotate-left">Back to Feed</i>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
