<div class="show_wrapper">

  <h1>Book a Pet!</h1>
  <p>Fill in the form below to rent your dog of choice</p>

  <div class="card" style="width: 18rem;">
  <img class="card-img-top" <%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %>>
  <div class="card-body">
  <h5 class="card-title"><%= @listing.description %></h5>
  </div>


    <hr>
    <%= link_to listings_path do %>
      <i class="fa-solid fa-arrow-rotate-left"></i> Back to Feed
    <% end %>
  </div>



  <%= simple_form_for [@listing, @rental] do |f| %>

  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Confirm my booking", class: "btn btn-danger btn-lg" %>
  <% end %>
</div>
